th, td {
	text-align: left;
	vertical-align: top;
	font-size: 0.8em;
}
// G4Y prefix
.benefits-table {
	overflow-x: auto;
	margin-bottom: 100px;

	table, th, td {
		border: 1px solid white;
		text-align: center;
		padding: 5px 0;
		@include co-txt-bold;
	}
	thead {
		// position: fixed;
		width: 100%;
		z-index: 1;
	}
	thead th {
		background: $confident-grey;
		color: white;
		padding: 10px 5px;
		font-size: 1em;

		button {
			margin-bottom: 0px;
			font-weight: 600;
			border-radius: 5px;
		}
	}
	td:first-child, tr th:first-child {
		text-align: left;
		padding-left: 10px;
	}

	td:first-child {
		position: relative;
		a {
			content: '';
			position: absolute;
			right: 5px;
			width: 14px;
			height: 14px;
			background: $confident-grey;
			border-radius: 15px;
			border: 1px solid $confident-grey;
			text-align: center;
			text-decoration: none;
			color: white;
			font-size: 12px;
		}
		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	right: 5px;
		// 	width: 14px;
		// 	height: 14px;
		// 	background: $confident-grey;
		// 	border-radius: 15px;
		// 	border: 1px solid $confident-grey;
		// }
	}
	.column {
		width: 80px;
		padding: 10px;

		button {
			margin-top: 5px;
		}
	}
	th:nth-child(2), th:nth-child(3) {
		width: 45px;
		padding-top: 2px;
	}

	td:nth-child(2), td:nth-child(3) {
		font-weight: 100;
	}
	th:nth-child(4) {
		background: lighten($grounded-purple, 8%);
	}
	th:nth-child(5) {
		background: lighten($grounded-purple, 3%);
	}
	th:nth-child(6) {
		background: $grounded-purple;
	}
	th:nth-child(7) {
		background: darken($grounded-purple, 3%);
	}
	th:nth-child(8) {
		background: darken($grounded-purple, 8%);
	}

	tr:nth-child(-n+10) + tr:nth-child(even) {
		background: #F5F8F2;
		background: lighten($refreshing-green, 33%);
	}
	tr:nth-child(-n+10) + tr:nth-child(odd) {
		background: lighten($refreshing-green, 30%);
	}
	tr:nth-child(n+11) + tr:nth-child(even) {
		background: #E7F4F5;
		background: lighten($open-blue, 26%);
	}
	tr:nth-child(n+11) + tr:nth-child(odd) {
		background: #F3F9FA;
		background: lighten($open-blue, 29%);
	}
	tr:nth-child(n+17) + tr:nth-child(even) {
		background: #F4F5F9;
		background: lighten($grounded-purple, 28%);
	}
	tr:nth-child(n+17) + tr:nth-child(odd) {
		background: #E9ECF3;
		background: lighten($grounded-purple, 25%);
	}
	tr:nth-child(n+25) + tr:nth-child(even) {
		background: lighten($refreshing-green, 33%);
	}
	tr:nth-child(n+25) + tr:nth-child(odd) {
		background: lighten($refreshing-green, 30%);
	}
	tr:nth-child(n+29) + tr:nth-child(even) {
		background: lighten($open-blue, 26%);
	}
	tr:nth-child(n+29) + tr:nth-child(odd) {
		background: lighten($open-blue, 29%);
	}

	// td:nth-child(5), th:nth-child(5) {
	// 	background: red;
	// }

	.most-popular {
		background: $healthy-orange;
		display: block;
		color: white;
		padding: 10px 0;
		font-weight: bold;
		font-size: 80%;
	}
	.most-popular-highlight td {
		padding: 0;
	}
	.sub-header th {
		border-bottom: 1px solid grey;
		background: white;
		color: $confident-grey;
		text-align: center;
		padding-top: 15px;
		font-size: 15px;
	}
	.children-header th {
		border-bottom: 0;
		background: white;
		color: $healthy-orange;
		padding-top: 30px;
	}
	.small {
		font-size: 80%;
		line-height: 120%;
	}
}

.buy-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255, 0.9);
	padding: 15px 0;
	border-top: 1px solid $healthy-orange;
	opacity: 0;
	visibility: hidden;
	transition: .4s linear all;

	&--inner {
		max-width: 50%;
		margin: 0 auto;
		line-height: 80%;

		p {
			padding: 0;
			margin: 0;
			line-height: 140%;
		}

		div {
			float: left;
		}
	}
	&.is-active {
		opacity: 1;
		visibility: visible;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

.benefits-table .sub-header th.is-active, tr td.is-active {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.plan-level {
	&.plan-level-one {
		&.is-active {
			background: lighten($grounded-purple, 8%);
			color: white;
		}
	}
	&.plan-level-two {
		&.is-active {
			background: lighten($grounded-purple, 3%);
			color: white;
		}
	}
	&.plan-level-three {
		&.is-active {
			background: $grounded-purple;
			color: white;
		}
	}
	&.plan-level-four {
		&.is-active {
			background: darken($grounded-purple, 3%);
			color: white;
		}
	}
	&.plan-level-five {
		&.is-active {
			background: darken($grounded-purple, 8%);
			color: white;
		}
	}
	&.is-hover {
		background-color: #ccc;
		color: white;
		transition: .2s linear all;		
	}
}


/* Tooltip container */
.tooltip {
    position: relative;
	float: right;
	margin-right: 10px;
	width: 18px;
	height: 18px;
	text-align: center;
	border-radius: 10px;
	background: black;
	color: white;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
	margin-left: 10px;
	padding: 10px;
	width: 200px;
	text-align: left;
	background: $healthy-orange;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 15px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $healthy-orange transparent transparent;
}

.benefits-table-head {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 10;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
	transition: .2s linear all;

	&.is-active {
		opacity: 1;
		visibility: visible;
		
	}
}

.benefits-table-sticky {
	.wrapper-white {
		background-color: transparent;
		border: none;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.benefits-table {
		margin-bottom: 0;
	}
}










.mobileTable {
	// width: 90%;
	margin: 0 10px;
	border-left: 1px solid $confident-grey;
	border-right: 1px solid $confident-grey;
	// border-bottom: 1px solid $confident-grey;

	&-info {
		width: 100%;
		display: inline-block;
		// background: lighten($refreshing-green, 30%);
	}
	.sticky-margin {
		margin-top: 80px;
	}

	/* Tooltip container */
	.tooltip {
		margin-right: 0;
	}

	/* Tooltip text */
	.tooltip .tooltiptext {
		width: 300px;
	}

	.tooltip .tooltiptext {
		top: 15px;
		left: -286px;
		width: 300px;
	}
	.tooltip .tooltiptext::after {
		content: " ";
		position: absolute;
		top: -5px;
		right: 10px; /* To the left of the tooltip */
		border-color: transparent transparent $healthy-orange transparent;
	}

	.mobileTable-section {
		width: 100%;
		display: inline-block;
		border-bottom: 1px solid $confident-grey;
		border-top: 1px solid $confident-grey;
		margin-bottom: -7px;
	}
	.tableSection-itemHeader {
		// padding: .2em
		float: left;
		width: 20%;
		height: 100%;
		border-right: 1px solid $confident-grey;
		text-align: center;
		color: white;
		padding-bottom: 10px;
		.tableSection-itemPrice {
			@include co-txt-light;
		}

		&:nth-child(1) {
			background: lighten($grounded-purple, 8%);
		}
		&:nth-child(2) {
			background: lighten($grounded-purple, 3%);
		}
		&:nth-child(3) {
			background: $grounded-purple;
		}
		&:nth-child(4) {
			background: darken($grounded-purple, 3%);
		}
		&:nth-child(5) {
			background: darken($grounded-purple, 8%);
		}
		.tableSection-itemPeriod {
			margin: 0;
			font-size: 70%;
			clear: both;
			display: block;
		}
		&:last-child {
			border: none;
		}

		h2 {
			color: white;
			font-size: 100%;
			margin-bottom: 0;
		}

		p {
			margin: 0;
			font-size: 70%;
			color: white;
		}
	}

	.tableSection-item {
		// padding: .2em
		float: left;
		width: 20%;
		height: 100%;
		border-right: 1px solid $confident-grey;
		text-align: center;
		background: lighten($refreshing-green, 33%);
		color: white;
		padding: 10px 0;

		&:nth-child(1) {
			background: lighten($grounded-purple, 8%);
		}
		&:nth-child(2) {
			background: lighten($grounded-purple, 3%);
		}
		&:nth-child(3) {
			background: $grounded-purple;
		}
		&:nth-child(4) {
			background: darken($grounded-purple, 3%);
		}
		&:nth-child(5) {
			background: darken($grounded-purple, 8%);
		}
		&:last-child {
			border: none;
		}

		p {
			margin: 0;
			font-size: 70%;
		}
	}
	.tableInfo {
		padding: 5px 10px;
		color: $confident-grey;
		&-title {
			@include co-txt-bold;
		}
		&-icon {
			display: inline-block;
		}
	}
	.tableSection-itemUpto {
		color: white;
	}
	.tableInfo-attributes {
		// background: red;
		float: right;
		color: $confident-grey;
		@include co-txt-light;
		span {
			margin-left: 10px;
		}
	}

	.tableSection-itemTitle {
		
	}

	.tableSection-itemPrice {
		@include co-txt-bold;
	}

	.tableSection-itemPeriod {

	}

	.mobileTable-sticky {
		position: fixed;
		width: 94.5%;
		z-index: 9;
	}

}

